form {
  max-width: 80%;
  margin: auto;

  button {
    margin: 25px 25px 0px 0px;
  }

  .team {
    width: 180px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .error {
    color: red;
    margin: 5px;
  }

  .password-strength-weak {
    color: red;
  }

  .password-strength-medium {
    color: orange;
  }

  .password-strength-strong {
    color: green;
  }
}
