<ul *ngIf="listTask.length > 0; else noTask">
  <h1>{{count}}</h1>
  <div [ngSwitch]="true">
    <h2 *ngSwitchCase="percentage == 0"> 0% de fait </h2>
    <h2 *ngSwitchCase="percentage > 0 && percentage < 50"> Premiére moitié de faite ! </h2>
    <h2 *ngSwitchCase="percentage > 51 && percentage < 100"> Bientot fini ! </h2>
    <h2 *ngSwitchCase="percentage == 100"> Fini !  </h2>
  </div>
  <app-task *ngFor="let task of listTask; trackBy:trackByFunction"
  [task]="task" (count)="setCount($event)" ></app-task>
</ul>

<ng-template #noTask>
  <h1>Aucune tâches pour le moment ! </h1>
</ng-template>
