<h1>Liste des utilisateurs : </h1>
<ul class="cardUser" *ngFor="let user of listOfUser">
    <li class="card">
      <div class="card-body">
        <p class="card-title">Name : {{ user.firstName }} {{ user.lastName }} - Username : {{user.username}}</p>
        <p class="card-text">Age : {{ user.age }} </p>
        <p class="card-text">Email : {{ user.email }} </p>
        <p class="card-text">password : {{ user.password }} </p>
        <p class="card-text">Team : {{ user.team }} </p>
        <p>skills :</p>
        <ul class="list-group list-group-flush" *ngFor="let skill of user.skills">
          <li class="list-group-item">{{skill}}</li>
        </ul>
      </div>
    </li>
</ul>
